#canvas
{
background-color:white;
border:5px solid black;
}
body
{
width:800px;
height: 540px;
background-color:grey;
}
#rules
{
width:300px;
height:100px;
border: 1px solid black;
color:blue;
margin: -650px 1025px;
}
#number
{
color: blue;
margin:650px 1025px;
}
#hs
{
color: blue;
width:110px;
height:60px;
margin:-650px 1025px;
}
#start
{
margin: 650px 1130px;
}